#btMoveFW, #btMoveB, #btMoveFW2, #btMoveB2{
  margin-left: 31px;
}



body{
  /* padding-left:50px; */
  padding-top: 2px;
}

#driving2{
  margin-top: 30px;
}

#slider1, #slider2{
  margin-left:75px;

  width: 90px;
  height: 18px;
}



#slider1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background:#2196F3;
  cursor: pointer;
}

#slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background:#f55722;
  cursor: pointer;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}



#slider1::-moz-range-progress {
  background-color: #2196F3;
}


#slider2::-moz-range-progress {
  background-color: #f55722;
}

.slider::-ms-fill-lower {
    background: #2196F3 !important;
    border-radius: 0px;
}

.slider::-ms-fill-upper {
    background: #d3d3d3;
    border-radius: 10px;
}


#slider1::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #2196F3;
  cursor: pointer;
}

#slider2::-moz-range-thumb {
  background: #f55722;
}

#cube2control button{
  background: #f55722 !important;
}

#Charge, #Charge2{
  margin-left: 100px;
}

h4{
  margin-left:100px;
  margin-bottom:-10px;
}

#cube1, #cube2{
  margin-bottom: 0px;
}

#cube1control, #cube2control{
  margin-top: 50px;
}

#cube-control{
  margin-top: -100px;
}

.position h3{
  display:inline;
  margin-right: 30px;
}

#canvas{
  border:1px rgb(200,200,200) solid;
  background-color:white;
  border-radius:10px;
  width:170px;
  height:170px;
  margin: auto;
  margin-top:20px;
}



select{
  margin:auto;
  display: block;
}

#connected1{
  display: block;
  margin: auto;
  text-align:center;
  margin-top: 5px;
}

#toio2{
  width:45px;
  height:45px;
  background-color: #37a165;
  border-radius:10px;
  filter: drop-shadow(3px 3px 2px rgba(0,0,0,.2));
  position: relative;
  left: 0px;
  top: 0px;
  z-index:1;
}

#toio{
  width:45px;
  height:45px;
  background-color: #46b1e3;
  border-radius:10px;
  filter: drop-shadow(3px 3px 2px rgba(0,0,0,.2));
  position: relative;
  left: 20px;
  top: 20px;
}

.position, #light{
  /* margin-top: 40px; */
}

#getPos{
  display:block;
}

#light{
  margin-bottom: 40px;
}


html{
  overflow: hidden;

}

#cube-control{
  background-color:white;
  width: 80vw;
  min-height: 40vh;
  margin: auto;
  margin-top: 1vh;
  padding: 15px 30px 10px 30px;
  border-radius: 10px;
  filter: drop-shadow(8px 8px 3px rgba(197, 199, 199,.3));
}

#cube-connect{
  background-color:white;
  width: 80vw;
  min-height: 40vh;
  margin: auto;
  margin-top: 3vh;
  padding: 50px 30px 10px 30px;
  border-radius: 10px;
  filter: drop-shadow(8px 8px 3px rgba(197, 199, 199,.3));
}

#cube-connect button{
  text-align: center;
  margin-bottom: 10px;
}

#next{
  margin-right: 20px;
  text-align: right !important;
}

#back{
  margin-left: 20px;
  text-align: left !important;
  width: 160px !important;
  padding-left:10px;
}

#cube2control{
  display:none;
}

.inactive{
  display:none !important;
}

.active{
  display: block;
}

#name-form{
  background-color:white;
  width: 80vw;
  min-height: 40vh;
  margin: auto;
  margin-top: 3vh;
  padding: 50px 30px 10px 30px;
  border-radius: 10px;
  filter: drop-shadow(8px 8px 3px rgba(197, 199, 199,.3));
}

#cube1{
  display:grid;
  width:100%;
  grid-template-columns:1fr 5fr;
}

#uconnect{
  margin-left: -15%;
}

body{
  background:#e4edec;

}

h2{
  font-family: helvetica;
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
  font-weight:600;
}

h1{
  font-family: helvetica;
  font-weight: 100;
  font-size: 25px;
  text-align: center;
}

input{
  height: 5vh;
  width: 20vw;
  display:block;
  margin: auto;
  font-size: 20px;
  text-align: center;
}

button{
  min-height: 5vh;
  min-width: 15vw;
  display:block;
  margin: auto;
    font-size: 18px;
    text-align: center;
}

#tabs{
  display:flex;
}

.tabitem{
  font-size: 15px !important;
  flex-grow:1;
  margin-bottom: 0;
  border:rgb(200,200,200) 1px solid;
  padding: 10px;
}

.activetab{
  border-bottom: none;
}

.inactivetab{
  background-color: rgb(220,220,220);
  font-weight: 300;
}



canvas{
  margin:auto;
  display: block;
}

#control{
  border:rgb(200,200,200) 1px solid;
  margin-bottom: 10px;
  border-top: none;
  margin-top: 0;
  padding: 15px 0px 15px 0px;
}

.disabled{
  color: rgb(180,180,180);
}

#remoteconnect{
  position: absolute;
  background-color:white;
  border:rgb(200,200,200) 1px solid;

  border-radius:10px;
  top:30%;
  z-index: 1;
  left:20%;
  padding: 20px;
  filter: drop-shadow(8px 8px 3px rgba(197, 199, 199,.3));

}

#remoteconnect form{
  display: block;
  margin:auto;
  text-align:center;
}

#close{
  width: 30px;
  margin-right:5px;
}

select{
  margin-bottom: 10px;
  height: 7vh;
  font-size: 20px;
}

@media screen and (min-width: 800px){
#slider{
  display:grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: 1fr;
  column-gap:20px;
  justify-items : center;
  align-items:start;
  width: 40vw;
  margin-left:20vw;
  margin-top:10px;
  margin-bottom: 7px;
}
}
@media screen and (max-width: 800px){
#slider{
  display:grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: 1fr;
  column-gap:20px;
  justify-items : center;
  align-items:start;
  width: 40vw;
  margin-left:0;
  margin-top:90px;
  margin-bottom: 7px;
}
}

#buttons button{
  text-align: center !important;
  margin-left:15px;
  margin-top:15px;
  padding-right:0 !important;
}

#buttons{
  display:flex;

  grid-column: 1/3;
  flex-direction:row;
}

.labl{
  display:inline;
  font-size: 15px;
}

.slider{
  margin-top: -20px;
}

.sliders{
    margin-top: 50px;
}

#dial{
  /* margin-top: -100px; */
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.sslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sslider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sslider {
  background-color: #2196F3;
}

input:focus + .sslider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .sslider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.bbg{
  background-color:#9aa2ad !important;
}
